@model BTL1.Models.User

@{
    ViewData["Title"] = "Đăng ký";
}

<div class="container mt-4">
    <h3>Đăng ký</h3>
    <form asp-action="Register" method="post">
        <div class="mb-2">
            <label>Tên đăng nhập:</label>
            <input asp-for="FullName" class="form-control" />
        </div>
        <div class="mb-2">
            <label>Email:</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="mb-2">
            <label>Mật khẩu:</label>
            <input asp-for="Password" class="form-control" type="password" />
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>
